.div {
  background-color: #fffefc;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 122px);
  overflow: hidden;
}

@media (max-height: 900px) {
  .div {
    background-color: #fffefc;
    display: flex;
    flex-direction: column;
    height: auto;
    overflow: visible;
  }

  .div9 {
    margin: 50px auto 50px !important;
  }
}

.div2 {
  justify-content: space-between;
  box-shadow: 1px 0px 0px 0px #f4f4f4 inset;
  background-color: var(--Neutral-01, #fcfcfc);
  display: flex;
  width: 100%;
  gap: 20px;
  font-size: 15px;
  color: #000;
  font-weight: 700;
  letter-spacing: -0.15px;
  line-height: 160%;
  padding: 24px 40px;
}

@media (max-width: 991px) {
  .div2 {
    max-width: 100%;
    flex-wrap: wrap;
    padding: 0 20px;
  }
}

.img {
  aspect-ratio: 3.23;
  object-fit: auto;
  object-position: center;
  width: 167px;
  max-width: 100%;
}

.div3 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: auto 0;
}

.div4 {
  font-family: Inter, sans-serif;
  justify-content: center;
  border-radius: 12px;
  border: 1px solid #000;
  flex-grow: 1;
  white-space: nowrap;
  padding: 12px 35px;
}

@media (max-width: 991px) {
  .div4 {
    white-space: initial;
    padding: 0 20px;
  }
}

.div5 {
  font-family: Inter, sans-serif;
  justify-content: center;
  border-radius: 12px;
  border: 1px solid #000;
  flex-grow: 1;
  white-space: nowrap;
  padding: 12px 28px;
}

@media (max-width: 991px) {
  .div5 {
    white-space: initial;
    padding: 0 20px;
  }
}

.div6 {
  font-family: Inter, sans-serif;
  justify-content: center;
  border-radius: 12px;
  border: 1px solid #000;
  flex-grow: 1;
  padding: 12px 41px;
}

@media (max-width: 991px) {
  .div6 {
    padding: 0 20px;
  }
}

.div7 {
  justify-content: center;
  z-index: 10;
}

@media (max-width: 991px) {
  .div7 {
    max-width: 100%;
  }
}

.div8 {
  gap: 20px;
  display: flex;
}

@media (max-width: 991px) {
  .div8 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}

.column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 59%;
  margin-left: 0px;
}

@media (max-width: 991px) {
  .column {
    width: 100%;
  }
}

.img2 {
  aspect-ratio: 1.1;
  object-fit: auto;
  object-position: center;
  width: 100%;
  flex-grow: 1;
}

@media (max-width: 991px) {
  .img2 {
    max-width: 100%;
    margin-top: 40px;
  }
}

.column2 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 100%;
  margin-left: 20px;
  margin-right: 15px;
}

@media (max-width: 991px) {
  .column2 {
    width: 90%;
  }
}

.div9 {
  display: flex;
  padding-top: 9px;
  flex-direction: column;
  align-self: stretch;
  font-size: 16px;
  color: var(--Primary-text, #0c1421);
  font-weight: 400;
  line-height: 100%;
  margin: 100px auto 0;
  max-width: 70%;
  width: 100%;
}

@media (max-width: 991px) {
  .div9 {
    max-width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

.div10 {
  color: #000;
  font: 500 30px Poppins, sans-serif;
}

@media (max-width: 991px) {
  .div10 {
    max-width: 100%;
  }
}

.div11 {
  color: #000;
  font-family: Poppins, sans-serif;
  margin-top: 31px;
}

@media (max-width: 991px) {
  .div11 {
    max-width: 100%;
  }
}

.div12 {
  color: #000;
  font-family: Poppins, sans-serif;
  margin-top: 13px;
}

@media (max-width: 991px) {
  .div12 {
    max-width: 100%;
  }
}

.div13 {
  font-feature-settings: "clig" off, "liga" off;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.16px;
  margin-top: 22px;
}

@media (max-width: 991px) {
  .div13 {
    max-width: 100%;
    margin-top: 40px;
  }
}

.div14 {
  font-feature-settings: "clig" off, "liga" off;
  font-family: Roboto, sans-serif;
  border-radius: 12px;
  border: 1px solid #d4d7e3;
  background-color: #f7fbff;
  margin-top: 7px;
  justify-content: center;
  align-items: start;
  color: #8897ad;
  white-space: nowrap;
  letter-spacing: 0.16px;
  width: 100%;
  padding: 17px 60px 17px 16px;
  margin-bottom: 3px;
}

@media (max-width: 991px) {
  .div14 {
    max-width: 100%;
    padding-right: 20px;
    white-space: initial;
  }
}

.div15 {
  font-feature-settings: "clig" off, "liga" off;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.16px;
  margin-top: 20px;
}

@media (max-width: 991px) {
  .div15 {
    max-width: 100%;
  }
}

.div16 {
  font-feature-settings: "clig" off, "liga" off;
  font-family: Roboto, sans-serif;
  border-radius: 12px;
  border: 1px solid #d4d7e3;
  background-color: #f7fbff;
  margin-top: 7px;
  justify-content: center;
  align-items: start;
  color: #8897ad;
  letter-spacing: 0.16px;
  padding: 19px 60px 19px 16px;
  width: 100%;
  margin-bottom: 3px;
}

@media (max-width: 991px) {
  .div16 {
    max-width: 100%;
    padding-right: 20px;
  }
}

.div17 {
  font-feature-settings: "clig" off, "liga" off;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.16px;
  margin-top: 20px;
}

@media (max-width: 991px) {
  .div17 {
    max-width: 100%;
  }
}

.div18 {
  font-feature-settings: "clig" off, "liga" off;
  font-family: Roboto, sans-serif;
  border-radius: 12px;
  border: 1px solid #d4d7e3;
  background-color: #f7fbff;
  margin-top: 7px;
  justify-content: center;
  align-items: start;
  color: #8897ad;
  letter-spacing: 0.16px;
  padding: 19px 60px 19px 16px;
  width: 100%;
  margin-bottom: 3px;
}

@media (max-width: 991px) {
  .div18 {
    max-width: 100%;
    padding-right: 20px;
  }
}

.div19 {
  font-feature-settings: "clig" off, "liga" off;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: #21b6a8;
  margin-top: 50px;
  color: var(--White, #fff);
  text-align: center;
  letter-spacing: 0.2px;
  padding: 16px 60px;
  font: 20px Roboto, sans-serif;
  border: none;
  width: 100%;
}

.div19:hover {
  background-color: #419189;
}

.div19:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: none;
}
@media (max-width: 991px) {
  .div19 {
    max-width: 100%;
    margin-top: 40px;
    padding: 16px 20px;
  }
  .div19:hover {
    background-color: #419189;
  }
}

.divv13 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

@media (max-width: 991px) {
  .divv13 {
    max-width: 100%;
    flex-wrap: wrap;
    white-space: initial;
  }
}

.divv14 {
  display: flex;
  gap: 16px;
  font-size: 20px;
  color: var(--Neutral-07, #1a1d1f);
  letter-spacing: -0.4px;
  margin: auto 0;
}

@media (max-width: 991px) {
  .divv14 {
    white-space: initial;
  }
}

.divv15 {
  border-radius: 4px;
  background-color: #21b6a8;
  width: 16px;
  height: 32px;
}

.divv16 {
  font-family: Inter, sans-serif;
  line-height: 35px;
  font-weight: 600;
  margin-bottom: 12px;
}

.divv17 {
  font-feature-settings: "clig" off, "liga" off;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: #21b6a8;
  margin-top: 50px;
  color: var(--White, #fff);
  text-align: center;
  letter-spacing: 0.2px;
  padding: 16px 60px;
  font: 20px Roboto, sans-serif;
  border: none;
  width: 100%;
}

.divv17:hover {
  background-color: #419189;
}

.divv17:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: none;
}
@media (max-width: 991px) {
  .divv17 {
    max-width: 100%;
    margin-top: 40px;
    padding: 16px 20px;
  }

  .divv17:hover {
    background-color: #419189;
  }
}

